@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateT(0);
  }
}

.animate-slide-in {
  animation: slide-in 1.0s ease-out;
}

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}